* {
    box-sizing: border-box;
    margin: 0;
    padding: 0%;
    font-family: Arial, Helvetica, sans-serif
}
 .main {
     background: #000000;
     font-family:"Poppins", Arial, sans-serif;


 }
 .head {
     color: white;
     display: flex;
     flex-direction: row;
     justify-content: center;
     align-items: center;
     
 }
 @media screen and (max-width:1500px) {
     .head {
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            padding: 10px
     }
 }
 .listhead {
     display: flex;
     gap: 30px;
     padding-top: 20px
 } 
 @media screen and (max-width:1500px) {
    .listhead {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start
    }
}
 li {
     list-style-type: none;
    
 }
 a  {
     list-style: none;
 }
ul li a {
    list-style: none;
    text-decoration: none;
    color:  white
}
.section-introduct {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 30px;
    padding-top: 200px;
    padding-left: 200px;
    padding-bottom: 200px
}
@media screen and  (max-width:1500px){
    .section-introduct {
        padding-left: 40px;
       
    }

}
.introduce-head {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 30px;
} 
  @media screen and (max-width:1000px) {
      .section-introduct {
          flex-direction: column;
          justify-content: center;
          align-items: center
      }
  }
.start-text {
    color: #ffbd39;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 30px
}
.name-start {
    font-size: 70px;
    color: #fff;
    line-height: 1.2;
    font-weight: 800;
    
}
@media screen and (max-width:1000px) {
    .name-start {
        font-size:60px
    }
}
.nametow  {
    color: #ffbd39;
    font-size: 40px;
    
}
.btn {
    display: flex;
    flex-direction: row;
    gap: 20px
}

 .btn-left {
    background: #ffbd39;
    border: 1px solid #ffbd39 !important;
    color: #000000 !important; 
    padding: 10px 30px;
    border-radius: 20px;
    text-decoration: none
    
 }
 .btn-rigth {
    background:#000000;
    border: 1px solid whitesmoke !important;
    color: white !important; 
    padding: 10px 30px;
    border-radius: 20px ;
    text-decoration: none

 }
 
 .about {
  display: grid;
  justify-content: center;
  grid-template-columns:  400px 500px; /*Make the grid smaller than the container*/
  grid-gap: 50px;
 }
 @media screen and (max-width:1000px) {
     .about {
         grid-template-columns: 400px
     }
 }
 .imageabout {
     width: 400px;

 }
 .about-info {
     display: grid;
     grid-template-rows:  repeat(2,1fr);
     grid-gap: 30px;
     padding-top: 30px;
     font-family: "Poppins", Arial, sans-serif;

 }
 .title {
     color: white;
     padding-bottom: 30px
 }
 .title h1 { 
     font-family: sans-serif;
     font-size: 60px;
     font-weight: bold;
}
 .name {
     color: whitesmoke;
     font-size: 18px ;
     font-weight: bold;

 }
 .prop {
    color: #999999;
     font-size: 18px;
     font-weight: bold;

 }
 .d-flex {
    display: flex;
    gap: 10px

 }
 .btn {
     padding-top: 30px
 }
 .btn button {
     background: #ffbd39;
     border:  1px solid #ffbd39;
     padding: 20px 50px ;
     border-radius: 50px ;
     font-weight: bold
 }
 

 .resume {
     color: white;
     padding: 40px 0px;
 }
 .reumetitle h1 {
     text-align: center;
     font-family: sans-serif;
     font-size:60px;
     font-weight: bold;
     padding-bottom: 20px

 }
 .information p {
     font-family: sans-serif;
     font-size: 16px;
     color: #999999;
     text-align: center;
     line-break: strict;
     line-height: 1.625;
     padding-bottom: 40px
 }
 .warrpcard {
        width: 80%;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 20px;
        flex-wrap: wrap;
 }
  @media screen and (max-width:900px){
      .warrpcard {
          flex-direction: column
      }
  }
 .card {
     background: rgba(255, 255, 255, 0.1);
     width:40%;
     height: 300px;
     border-radius: 10px;
     opacity: 1;
     padding: 20px;
     line-height: 1.625;

 }
 @media screen and (max-width:1000px) {
     .card {
         width: inherit;
         height: inherit;
     }
 }
 .card:hover {
     cursor: pointer;
     box-shadow:  1px 1px 1px 1px #ffbd39

 }
 .titlecard {
      color: #ffbd39;
      padding: 10px;
      font-size: 30px;
      font-weight: 900;
 }
 .cardpara {
     color:#6c757d;
 }
 .titlemain {
     font-size: 25px;
     font-weight: normal;
     padding-top: 10px ;
    padding-bottom: 10px

 }
 .btntow {
     display: flex;
     justify-content: center;
     align-items: center;
     margin-top: 20px
    

 }
 .btntow button {
    background: #ffbd39;
    border: 1px solid #ffbd39 !important;
    color: #000000 !important; 
    padding: 20px 50px;
    border-radius: 30px;
    text-decoration: none;
    font-size: 20px

 }
 .services {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:30px;
    height: max-content;
    padding-bottom: 100px;
 }
 .sertext {
     text-align: center;
     color: white;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     gap:10px;
     padding-bottom: 10px;
     padding-top: 10px

 }
 .sertext h1 {
     font-size: 60px;
 }
 .sertext p {
    color: #999999;
 }
 .servicecard {
     display: flex;
     flex-direction: row;
     justify-content: center;
     align-items: center;
     gap:20px;
 }
.sercard {
    width: 300px;
    height: 200px;
    background: rgba(255, 255, 255, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:20px;

}
.sercard:hover {
    transform: translateY(-20px);
    border: 1px solid #ffbd39
    
}
.sercard h3 {
    text-transform: uppercase;
    color: white;
    font-size: 15px;

}
.prog {
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   gap: 20px;
   
    
}
.progress-wrap {
    width: 100%;
    margin-bottom: 30px;
}
    .progress-wrap h3 {
      font-size: 20px;
      margin-bottom: 10px;
      font-weight: 500; 
    }
    .skills {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        padding-bottom: 50px

    }
  
  .progress {
    height: 10px;
    -webkit-box-shadow: none;
    box-shadow: none;
    background: #1a1a1a;
    overflow: visible; 
    width: 400px
}
.progresstext {
    color: white
}
  
  .progressbar {
    background: #ffbd39;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-size: 12px;
    line-height: 1.2;
    color: #000000;
    font-weight: 600;
    position: relative;
    overflow: visible;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    border-radius: 2px; 
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px
}
    .progress-bar:after {
      position: absolute;
      top: -2px;
      right: 0;
      width: 34px;
      height: 34px;
      content: '';
      background: #ffbd39;
      -webkit-border-radius: 2px;
      -moz-border-radius: 2px;
      -ms-border-radius: 2px;
      border-radius: 2px;
      opacity: 0;
     }
    .progress-bar span {
      position: absolute;
      top: -38px;
      right: 0;
      font-size: 20px;
      font-weight: 400;
      color: #fff;
     }
     /*
      projectes

     */
     .projectes {
         padding: 20px;
         display: flex;
         justify-content: center;
         align-items: center;
         flex-direction: column;
         gap: 20px
     }



     .projectimag {
       display: flex;
       justify-content: center;
       align-items: center;
       gap: 30px;
       flex-wrap: wrap;
       width: 80%;
       margin:  0 auto;
     }
     .projectassest {
         width: 500px;
         height: 300px;
         border:  2px solid #ffbd39;
     }


     .freelancing {
       width: 100%;
       height: 600px;
       background: url('/image/bg.jpg')
     }
     