* {
    box-sizing: border-box;
    margin: 0;
    padding: 0%;
    font-family: Arial, Helvetica, sans-serif
}
 .main {
     background: #000000;
     font-family:"Poppins", Arial, sans-serif;
     margin: 0;
     padding: 0%;
     height: max-content;



 }
 .head {
     color: white;
     display: flex;
     flex-direction: row;
     justify-content: center;
     align-items: center;
     
 }
 @media screen and (max-width:1500px) {
     .head {
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            padding: 10px
     }
 }
 .listhead {
     display: flex;
     gap: 30px;
     padding-top: 20px
 } 
 @media screen and (max-width:1500px) {
    .listhead {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start
    }
}
 li {
     list-style-type: none;
    
 }
 a  {
     list-style: none;
 }
ul li a {
    list-style: none;
    text-decoration: none;
    color:  white
}
.section-introduct {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 30px;
    padding-top: 200px;
    padding-left: 200px;
    padding-bottom: 200px
}
@media screen and  (max-width:1500px){
    .section-introduct {
        padding-left: 40px;
       
    }

}
.introduce-head {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 30px;
} 
  @media screen and (max-width:1000px) {
      .section-introduct {
          flex-direction: column;
          justify-content: center;
          align-items: center
      }
  }
.start-text {
    color: #ffbd39;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 40px
}
.name-start {
    font-size: 70px;
    color: #fff;
    line-height: 1.2;
    font-weight: 800;
    
}
@media screen and (max-width:1000px) {
    .name-start {
        font-size:60px
    }
}
.nametow  {
    color: #ffbd39;
    font-size: 40px;
    
}
.btn {
    display: flex;
    flex-direction: row;
    gap: 20px
}

 .btn-left {
    border: 1px solid #ffbd39 !important;
    color: #000000 !important; 
    padding: 10px 100px;
    border-radius: 20px;
    text-decoration: none
    

    
 }
 .show {
    border: 1px solid #ffbd39 !important;
    color: #000000 !important; 
    padding: 10px 100px;
    border-radius: 20px;
    text-decoration: none;
    background: #ffbd39;
    width: 300px ;


 }
 .show:hover {
     transform: scale(1.1);
     transition: ease-in;
    box-shadow:  5px 5px 5px 5px #1a1a1a;
    

     
 }
 .btn-rigth {
    background:#000000;
    border: 1px solid whitesmoke !important;
    color: white !important; 
    padding: 10px 30px;
    border-radius: 20px ;
    text-decoration: none

 }
 
 .about {
  display: grid;
  justify-content: center;
  grid-template-columns:  400px 500px; /*Make the grid smaller than the container*/
  grid-gap: 50px;
 }
 @media screen and (max-width:1000px) {
     .about {
         grid-template-columns: 400px
     }
 }
 .imageabout {
     width: 400px;
     border-radius: 10px;
     box-shadow: 2px 2px 2px 2px #1a1a1a



 }
 .about-info {
     display: grid;
     grid-template-rows:  repeat(2,1fr);
     grid-gap: 30px;
     padding-top: 30px;
     font-family: "Poppins", Arial, sans-serif;

 }
 .title {
     color: white;
     padding-bottom: 30px
 }
 .title h1 { 
     font-family: sans-serif;
     font-size: 60px;
     font-weight: bold;
}
 .name {
     color: whitesmoke;
     font-size: 18px ;
     font-weight: bold;

 }
 .prop {
    color: #999999;
     font-size: 18px;
     font-weight: bold;

 }
 .d-flex {
    display: flex;
    gap: 10px

 }
 .btn {
     padding-top: 30px
 }
 .btn button {
     background: #ffbd39;
     border:  1px solid #ffbd39;
     padding: 20px 50px ;
     border-radius: 50px ;
     font-weight: bold
 }
 

 .resume {
     color: white;
     padding: 40px 0px;
 }
 .reumetitle h1 {
     text-align: center;
     font-family: sans-serif;
     font-size:60px;
     font-weight: bold;
     padding-bottom: 20px

 }
 .information p {
     font-family: sans-serif;
     font-size: 16px;
     color: #999999;
     text-align: center;
     line-break: strict;
     line-height: 1.625;
     padding-bottom: 40px
 }
 .warrpcard {
        width: 80%;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 20px;
        flex-wrap: wrap;
 }
  @media screen and (max-width:900px){
      .warrpcard {
          flex-direction: column
      }
  }
 .card {
     background: rgba(255, 255, 255, 0.1);
     width:40%;
     height: 300px;
     border-radius: 10px;
     opacity: 1;
     padding: 20px;
     line-height: 1.625;
     box-shadow: 2px 2px 2px 2px rgba(255, 255, 255, 0.1)

     

 }
 @media screen and (max-width:1000px) {
     .card {
         width: inherit;
         height: inherit;
     }
 }
 .card:hover {
     cursor: pointer;
     box-shadow:  1px 1px 1px 1px #ffbd39

 }
 .titlecard {
      color: #ffbd39;
      padding: 10px;
      font-size: 30px;
      font-weight: 900;
 }
 .cardpara {
     color:#6c757d;
 }
 .titlemain {
     font-size: 25px;
     font-weight: normal;
     padding-top: 10px ;
    padding-bottom: 10px

 }
 .btntow {
     display: flex;
     justify-content: center;
     align-items: center;
     margin-top: 20px
    

 }
 .btntow button {
    background: #ffbd39;
    border: 1px solid #ffbd39 !important;
    color: #000000 !important; 
    padding: 20px 50px;
    border-radius: 30px;
    text-decoration: none;
    font-size: 20px

 }
 .services {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:30px;
    height: max-content;
    padding-bottom: 100px;
 }
 .sertext {
     text-align: center;
     color: white;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     gap:10px;
     padding-bottom: 10px;
     padding-top: 10px

 }
 .sertext h1 {
     font-size: 60px;
 }
 .sertext p {
    color: #999999;
 }
 .servicecard {
     display: flex;
     flex-direction: row;
     justify-content: center;
     align-items: center;
     gap:20px;
 }
.sercard {
    width: 300px;
    height: 200px;
    background: rgba(255, 255, 255, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:20px;

}
.sercard:hover {
    transform: translateY(-20px);
    border: 1px solid #ffbd39
    
}
.sercard h3 {
    text-transform: uppercase;
    color: white;
    font-size: 15px;

}
.prog {
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   gap: 20px;
   
    
}
.progress-wrap {
    width: 100%;
    margin-bottom: 30px;
}
    .progress-wrap h3 {
      font-size: 20px;
      margin-bottom: 10px;
      font-weight: 500; 
    }
    .skills {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        padding-bottom: 50px

    }
  
  .progress {
    height: 10px;
    -webkit-box-shadow: none;
    box-shadow: none;
    background: #1a1a1a;
    overflow: visible; 
    width: 400px
}
.progresstext {
    color: white
}
  
  .progressbar {
    background: #ffbd39;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-size: 12px;
    line-height: 1.2;
    color: #000000;
    font-weight: 600;
    position: relative;
    overflow: visible;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    border-radius: 2px; 
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px
}
    .progress-bar:after {
      position: absolute;
      top: -2px;
      right: 0;
      width: 34px;
      height: 34px;
      content: '';
      background: #ffbd39;
      -webkit-border-radius: 2px;
      -moz-border-radius: 2px;
      -ms-border-radius: 2px;
      border-radius: 2px;
      opacity: 0;
     }
    .progress-bar span {
      position: absolute;
      top: -38px;
      right: 0;
      font-size: 20px;
      font-weight: 400;
      color: #fff;
     }
     /*
      projectes

     */
     .projectes {
         padding: 20px;
         display: flex;
         justify-content: center;
         align-items: center;
         flex-direction: column;
         gap: 20px
     }



     .projectimag {
       display: flex;
       justify-content: center;
       align-items: center;
       gap: 30px;
       flex-wrap: wrap;
       width: 80%;
       margin:  0 auto;
     }
     .projectassest {
         width: 450px;
         height: 250px;
         box-shadow: 5px 5px 5px 5px #1a1a1a
     }


     .ftco-section {
       width: 100%;
       height: 600px;
       background-size: cover;
       background-repeat: no-repeat;
       background-position: center center;
       
     }
     .freework {
         display: flex;
         justify-content: center;
         align-items: center;
         flex-direction: column;
         gap: 40px;
         padding-top: 230px
     }
     .freework h1  {
         color: white;
         font-size: 50px;
         font-weight: bold
     }
     .freework h1:hover {
         color: #ffbd39
     }
     
     .btnfree {
         padding: 20px 40px;
         background: #ffbd39;
         color: #000000;
         border: unset;
         border-radius: 50px
     }
     .contactas {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 40px;
        padding-bottom: 100px
     }
     
     .contactastext {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 10px;
        color: white;

     }
     .contactastext h1  {
         color: white;
         font-size: 50px;
         font-weight: bold;
         padding-top: 40px
     }
     .contactastext p {
         color: #6c757d
     }
     .imgeascontact {
        
        justify-content: center;
        align-items: center;
        display: flex; 
        flex-direction: column;
        gap: 20px
     }
     .imagas {
         background: #1a1a1a;
         width: 100px;
         height: 100px;
         border-radius: 100px;
         justify-content: center;
         align-items: center;
         display: flex;
     }
     .paracontact {
         color: white
     }
     .contactwarrp {
        justify-content: center;
        align-items: center;
        display: flex; 
        flex-direction: row;
        gap: 50px
     }
     @media screen and (max-width:1000px){
        .contactwarrp {
            flex-direction: column

        }
    }
     .link {
         color: white;
         font-size: 15px;


     }
     .cardlink {
         display: flex;
         flex-direction: column;
         justify-content: center;
         align-items: center;
         gap: 10px;
         width: 150px
     }
     /*

    form

     */
     .formlayout{
        display: flex;
         flex-direction: row;
         justify-content: center;
         align-items: center;
         width: 80%;
         margin: 0 auto;
         height: 600px;
         

     }
     .imageform {
         width: 30%;
         height: 600px;
         padding: 20px;
         box-shadow:  5px 5px 5px 5px #1a1a1a

     }
     .formcontact {
         background:ghostwhite;
         width: 40%;
         height: 600px;
         padding: 20px;
         display: flex;
         flex-direction: column;
         gap:20px;
         box-shadow:  5px 5px 5px 5px #1a1a1a



     }
     .form-control {
         width: 100%;
         padding: 20px;
         font-size: 15px;
         border: 1px solid gainsboro;
         border-radius: 10px
     }
     .inputbtn {
         padding: 20px 30px;
         background: #ffbd39;
         border-radius: 20px;
         border: unset
     }
     .imagesform {
         width: 200px;
         height: 200px;
         border-radius: 200px
     }

.footer {
    width: 100%;
    padding: 20px;
    text-align: center;
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 250px;
   

}
.footer h1 {
    font-size: 20px
}
.footer a {
    color: #ffbd39;
    padding: 20px
}

/*
 modal

*/

.modal {
    width: 48%;
    position: absolute;
    top:60%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 20px;
    box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
    z-index: 10;
    margin-top: 50px;
    border-radius: 10px;
    background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9));
    color: white;
    border:  2px solid #ffbd39

}

.close-modal {
    background: white;
    color: aliceblue;
    border: 2px solid #ffbd39;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
    position: relative;
    left: 95%;

}
.hidden {
    display: none;
}
.overlay {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(3px);
    z-index: 5;
}

/*
 CV
*/
.head-cv {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding-bottom: 10px

}
.head-cv h1 {
    padding-top: 50px;
    font-size: 40px;
    font-weight: bold;
    text-decoration: #1a1a1a underline
}
.link-cv {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    color: blue
}
.list-cv {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-bottom: 20px;
    padding-top: 10px;
}
.list-cv h1  {
    font-size: 19px;
     text-decoration: underline;
    font-weight: bold

}
.list-cv li {
    font-size: 15px;

}