* {
    box-sizing: border-box;
    margin: 0;
    padding: 0%
}
 body {
     background: #000000;
     font-family:"Poppins", Arial, sans-serif;


 }
 .head {
     color: white;
     display: flex;
     flex-direction: row;
     justify-content: center;
     align-items: center;
     
 }
 .listhead {
     display: flex;
     gap: 30px;
     padding-top: 20px
 } 
 li {
     list-style-type: none;
    
 }
 a  {
     list-style: none;
 }
ul li a {
    list-style: none;
    text-decoration: none;
    color:  white
}
.section-introduct {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 30px;
    padding-top: 200px;
    padding-left: 200px;
    padding-bottom: 200px
}
@media (max-width:500px){
    .section-introduct {
        padding-left: 40px

    }

}
.introduce-head {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 30px;
}
.start-text {
    color: #ffbd39;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px
}
.name-start {
    font-size: 50px;
    color: #fff;
    line-height: 1.2;
    font-weight: 800;
    
}
.name  {
    color: #ffbd39
}
.btn {
    display: flex;
    flex-direction: row;
    gap: 20px
}

 .btn-left {
    background: #ffbd39;
    border: 1px solid #ffbd39 !important;
    color: #000000 !important; 
    padding: 10px 30px;
    border-radius: 20px;
    text-decoration: none
    
 }
 .btn-rigth {
    background:#000000;
    border: 1px solid whitesmoke !important;
    color: white !important; 
    padding: 10px 30px;
    border-radius: 20px ;
    text-decoration: none

 }
 .about {
     display: flex;
     color: red;
     flex-direction: row;
     justify-content: center;
     align-items: center;
     margin: 0% auto;
     width: 80%;
     gap: 30px
 }

 .about-left {
     width: 30%
 }
 .image {
    display: block;
    width: 100%;
    position: relative;
    z-index: 1;
 }
 .about-rigth{
    width: 45%;
    display: flex;
    flex-direction: column;
    gap: 30px;


 }
 .about-per {
     color: white
 }
 .nameinto {
     color: #6c757d;
 }
  .list-information {
      display: flex;
      flex-direction: column;
      gap: 20px
  }
  .d-flex {
    display: flex;
    flex-direction: row;
    gap: 40px 
  }
  .header-about {
      display: flex;
      flex-direction: column;
      padding-bottom: 30px;
      margin-top: -200px
  }
  .header-about h1 {
      padding-bottom: 30px;
      font-size: 45px;
      font-weight: bold;
      color: white
  }